# This is an example .env file for the Firefly III Transaction Relay application.
# Copy this file to .env and fill in the appropriate values before running the application.

# App's Listen Address (ADDRESS:PORT). example is 0.0.0.0:8080
LISTEN_ADDRESS=

# Firefly III API Address (IP or Hostname).
FIREFLY_ADDRESS=

# Firefly III Account Name To Post Transactions To.
FIREFLY_ACCOUNT=

# Firefly III Budget Name To Post Transactions To.
FIREFLY_BUDGET=

# Personal Access Token To authenticate Firefly III's API With.
FIREFLY_PAT=

# Secret Keys For Authenticating Requests.
AUTH_KEY=
VERIFICATION_KEY=

#----------------------------#
#       Regex Patterns       #
#----------------------------#

# Comma-separated list of Blacklisted keywords. Any message that contains a blacklisted keyword will not be posted to the Firefly API.
BLACKLIST_KEYS=

# Comma-separated list of keywords indicating a withdrawal transaction (e.g. "was withdrawn, was deducted").
WITHDRAWAL_KEYS=

# Comma-separated list of keywords indicating a deposit transaction (e.g. "was deposited, was credited").
DEPOSIT_KEYS=

# Comma-separated list of currency mappings in the format of (Keyphrase:Currency Code) (e.g., "US Dollar:USD").
CURRENCY_MAP=

# Comma-separated list of keywords indicating a vendor in the transaction description (e.g., "From Account, From vendor").
VENDOR_KEYS=

# Comma-separated list of keywords indicating a date in the transaction description (e.g. "on date, at date").
DATE_KEYS=

# Comma-separated list of keywords indicating an amount in the transaction description (e.g. "Amount, Total").
AMOUNT_KEYS=

# Comma-separated List of Go Compatible Date Formats (e.g. "2006-01-02,02/01/2006,02/01/2006 03:04 PM,2006/01/02 03:04 PM"). 
DATE_FORMATS=